numpy
numba  # so that documentation can be built even if numba is not installed

# followign 2 are only for examples
pandas
SeqMetrics
easy_mpl

sphinx
sphinx-prompt
sphinx_copybutton
sphinx_toggleprompt
sphinx_rtd_theme==2.0.0
sphinx_issues
sphinx-gallery